<!DOCTYPE html>
{% load static %}  
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    {% if success %}
        <title>Email Verification Successful</title>
    {% else %}
        <title>Email Verification Failed</title>
    {% endif %}
    <style>
        body {
            background-color: #F5F7F9;
            font-family: 'Roboto', sans-serif;
        }
        header {
            height: 55px;
            width: 100%;
            display: flex;
            background-color: white;
            position: fixed;
            top: 0px;
            z-index: 999;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 20px;
        }
        .logo-div {
            margin-left: 20px;
            position: absolute;
            line-height: 55px;
            cursor: pointer;
        }
        .card {
            box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
            width: 40%;
            padding: 2rem 1rem;
        }
        .card-title {
            margin-top: 20px;
            font-weight: 700;
        }
        .card-text {
          font-weight: 300;
        }
        .btn {
            background-color: #3f51b5;
            color: #FFFFFF;
            box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
            margin-top: 20px;
        }
        .btn:hover {
            background-color: #2A3795;
            color: #FFFFFF;
        }
    </style>
  </head>
  <body>
    <header>
        <div class="logo-div">
            <a href="https://socialplusid.herokuapp.com/">
                <img src="{% static 'images/logo1.png' %}" alt="logo" style="height: 45px; margin-top: 5px; margin-bottom: 5px;">
            </a>
        </div>
      </header>
        <div class="d-flex min-vh-100 justify-content-center align-items-center">
            <div class="card text-center row">
              {% if success %}
              <div class="card-body">
                <img src="{% static 'images/Check.png' %}" alt="Cross" style="height: 65px; margin-top: 5px; margin-bottom: 5px;">
                <h1 class="card-title">Your email address has been verified</h1>
                <a href="https://socialplusid.herokuapp.com/" class="btn">Homepage</a>
              </div>
              {% else %}
              <div class="card-body">
                <img src="{% static 'images/Cross.png' %}" alt="Cross" style="height: 65px; margin-top: 5px; margin-bottom: 5px;">
                <h2 class="card-title">Email verification failed</h2>
                <button class="btn" id="request-verification" onclick="requestVerification({{ uid }})">Request Verification Link</button>
                <p class='card-text' style='margin-top:0.2rem;'>Request may take a while</p>
              </div>
              {% endif %}
            </div>
        </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>