<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <title>Email Verification</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            color: #000000;
            text-align: left;
        }
        .title {
            font-weight: 700;
        }
        .text {
          font-weight: 300;
          margin-bottom: 0;
        }
        .btn {
            background-color: #3f51b5;
            color: #FFFFFF;
            border-radius: 5px;
            padding: 10px 15px;
        }
        .btn:hover {
            background-color: #2A3795;
            color: #FFFFFF;
        }
    </style>
  </head>
  <body>
    <div class="text-center">
        <h1 class="title">Hi, {{ username }}</h1>
        <h2 class="subtitle">Click the button below to verify your email address</h2>
        <a href="{{ url }}">
            <button class="btn" >
                Verify Email Address
            </button>
        </a>
        <p class='text' style='margin-top:2rem;'>Regards,<br>Social+ Admin</p>
    </div>
  </body>
</html>