<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <title>Email Verification</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            color: #000000;
            text-align: left;
        }
        .title {
            font-weight: 700;
        }
        .text {
          font-weight: 300;
          margin-bottom: 0;
        }
        .amount {
            background-color: rgb(63, 0, 255);
            color: #FFFFFF;
            border-radius: 5px;
            padding: 10px 15px;
            width: 20%;
            align-items: center;
            font-weight: 700;
        }
    </style>
  </head>
  <body>
    <div class="text-center">
        <h1 class="title">Hi, {{ username }}</h1>
        {% if confirm %}
        <p class='text'>We have received your payment and have upgraded your membership to:</p>
        <h3 class='text' style="margin-bottom: 20px; margin-top: 0;">{{ membership }}</h3>
        {% else %}
        <p class='text'>Please make your payment to:</p>
        <h3 class='text' style="margin-bottom: 20px; margin-top: 0;">{{ nomor_rekening }}</h3>
        <div class="amount">
            <h2>Amount: <br>{{ amount }}</h2>
        </div>
        <p class='text' style='margin-top:2rem;'>Send your payment receipt to contact@continuum.id with subject UPDATE MEMBERSHIP - USERNAME and your membership status should change when the confirmation is done.</p>
        {% endif %}
        <p class='text' style='margin-top:2rem;'>Regards,<br>Social+ Admin</p>
    </div>
  </body>
</html>